div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    color: #e72929;
}

a{
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: 0.5s;
}

a:hover{
    background-color: #e72929;
    color: white;
}