div{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

input{
    height: 2.5rem;
    width: 30rem;
    border-radius: 2rem 0rem 0rem 2rem;
    background-color: white;
    border: none;
    background-color: #f1f1f1;
    text-align: center;
    outline: none;
    color: black;
}

button{
    display: flex;
    border-radius: 0rem 2rem 2rem 0rem;
    background-color: #e72929;
    border: none;
    width: 5rem;
    color: white;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: 0.5s;
}

button:hover{
    opacity: 1;
    cursor: pointer;
}